<mat-toolbar color="primary">
  <span>System: {{systemName}}</span>
  <span fxFlex="1 1 auto"></span>
  <button mat-raised-button class="mat-accent" [disabled]="true">Add new Sensor</button>
</mat-toolbar>

<div style="padding: 10px">
  <div fxLayout="row wrap" fxLayoutGap="10px grid" fxLayoutAlign="space-around">
    <ng-container *ngFor="let tank of tankMap | keyvalue">
      <app-tank-card fxFlex="auto" [tankName]="tank.key" [tankSensors]="tank.value" [logs]="logs"></app-tank-card>
    </ng-container>
  </div>
  <br>
</div>
