<mat-card class="testcard" >
  <mat-card-title class="testcardheader">{{systemName}}</mat-card-title>
  <mat-card-subtitle>Row A</mat-card-subtitle>
  <mat-card-content class="testcardcontent">
    <table>
      <tr>
        <td>LDO</td>
        <td>102.535</td>
      </tr>
      <tr>
        <td>Temp.</td>
        <td>13.949°C</td>
      </tr>
    </table>
  </mat-card-content>
  <mat-card-subtitle>Row B</mat-card-subtitle>
  <mat-card-content class="testcardcontent">
    <table>
      <tr>
        <td>LDO</td>
        <td>100.973</td>
      </tr>
      <tr>
        <td>Temp.</td>
        <td>13.801°C</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
