.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.testcard {
  max-width: 200px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  margin-top: 30px;
  margin-left: 30px;
}
.testcardheader {
  max-width: 200px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  margin-top: 30px;
  margin-left: 30px;
}
